.flow {

  fill : rgba(204, 204, 204,0.5);
}

.turnover {
  opacity: 0;
  transition: opacity 250ms ease;
}

.small-label.in-circle {
  opacity: 1;
  transition: opacity 250ms ease;
}

g.showturnover {

  .turnover {
    opacity: 1;
  }

  .small-label.in-circle {
    opacity: 0;
  }

}