ul.radios {

  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: .5rem;


  li {
    position: relative;
    border: none;
    cursor: pointer;


    &:not(:last-of-type) {
      border-right: 1px solid black;
    }

    input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }

    label {

      display: block;
      padding: 3px .125rem;
      cursor: pointer;


      @media (min-width: $breakpoint-xxsm) {
        padding: 3px .5rem 3px .5rem;
      }
    }

    input:checked + label {
       background: $green;
       color: white;
     }

    input[data-active-colour=darkblue]:checked + label {
       background: $darkblue;
       color: white;
     }

    input[data-active-colour=orange]:checked + label {
      background: $orange;
      color: white;
    }
  }


}