table {

  margin: 2rem .5rem;
  width: calc(100% - 1rem);

   tr {


     td {
       padding: 8px 5px;
       text-align: right;

       &:first-of-type {
         text-align: left;
       }
     }

     &:first-of-type {

       td {
         font-size: .8rem;
         text-transform: uppercase;
       }
     }

     &:last-of-type {

       td {
         //border-top: 1px solid black;
         padding: 4px 5px;
         background: $green;
         color: white;

       }
     }
   }
}