body {
  font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.225;
}


@mixin uppercase() {

  font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .85rem;
  line-height: 1.6;
  letter-spacing: .5px;
}

@mixin uppercase-small() {

  font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .75rem;
  line-height: 2;
  letter-spacing: 0px;
}


h3 {
  font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: normal;
  color: black;
  font-size: 1.5rem;
}



