.visible-on-phone, .visible-on-portrait {
  display: none;
}
@media (max-width: $breakpoint-md) { // 760px;
  .hidden-on-portrait {
    display: none;
  }
  .visible-on-portrait {
    display: inline-block;
  }
}
@media (max-width: $breakpoint-sm) { // 760px;
  .hidden-on-phone {
    display: none;
  }
  .visible-on-phone {
    display: block;
  }
}