


.progress-container {

  g.data {

    path {
      //fill: none;
      //stroke: #000;
      //stroke-dasharray: 4;
    }

    .serie path {
      opacity: 1;
    }

    .serie text {
      font-size: .6rem;
      //fill: white;
    }

    .serie.opnames path{

      fill: $green;
    }

    .serie.meldingen path{

      fill: $green;
    }

    .serie.behandeling path {

      fill: orange;
    }

    .serie.afgehandeld path{

      fill: $blue;
    }

    .serie.aos path{

      fill: darkblue;
    }
  }
}

.progress-candles-container {

  g.data {

    path {
      fill: none;
      stroke: #000;
      stroke-dasharray: 4;
    }
  }

}

.remittances-container {

  rect {
    fill : #ccc;
  }
}



text.number {
  @include uppercase;
}
//
//.procedure-container, .remittances-container {
//
//  .bar {
//    fill : $green;
//
//    &.wacht-op-opname {
//      fill : orange;
//    }
//
//    &.voorbereiding-besluit {
//      fill : $blue;
//    }
//
//    &.-k {
//      fill : $blue;
//    }
//  }
//
//  text.barLabel {
//
//    font-size: .8rem;
//  }
//
//}

rect, .bar, .stackGroup {

  &.green, &.green &, .bar {
    fill : $green;
  }

  &.orange, &.orange &, .bar {
    fill : $orange;
  }

  &.blue, &.blue &, .bar {
    fill : $blue;
  }

  &.darkblue, &.darkblue & {
    fill : $darkblue;
  }

  &.grey, &.grey & {
    fill : $grey;
  }

}

