@font-face {
  font-family: 'Replica';
  src: url('../../assets/fonts/Replica-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans Regular';
  src: url('../../assets/fonts/NotoSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans Light';
  src: url('../../assets/fonts/NotoSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans SemiBold';
  src: url('../../assets/fonts/NotoSans-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
