main {
  width: 100vw;
  //overflow-x: hidden;
  display : flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width : $breakpoint-sm) {
    //height: 560px;
    //margin-top: 6rem;
  }


  > div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    //@media (min-width : $breakpoint-sm) {
    //
    //  margin: 0 0 3rem 0;
    //}
    //
    //@media (min-width : $landscape-max) {
    //
    //  margin: 0;
    //}

    h2 {
      @include uppercase();
    }

    > span {
      width: 1px;
      height: .5rem;
      background: black;
    }

    .sides {
      height: .5rem;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      position: absolute;
      top: 0;
      width : calc(100% - 2px);

      &.up {
        top: -.5rem;
      }
    }

    .container {

      position: relative;
      border-top: 1px solid #000;
      width: calc(100% - 2rem);
      margin: 0rem;
      height: auto;
      box-sizing: content-box;

      @media (min-width : $extra) {

        width: calc(100% - 4rem);
        margin: 0rem 2rem;
      }

      .textual {

        padding: 30px 15px 0 15px;

        @media (min-width : $breakpoint-sm) and  (max-width : $breakpoint-md) {

          position: absolute;
          right : 0;
          bottom: 30px;
          width:  calc(100% - 106px - 60px - 30px);
          border-left: 1px solid #000;
          padding: 0 0 0 15px;
        }

        @media (min-width : $extra) {

          position: absolute;
          right : 0;
          bottom: 30px;
          width:  calc(100% - 106px - 60px - 30px);
          border-left: 1px solid #000;
          padding: 0 0 0 15px;
        }
      }


      &.input-container {
        height: auto;
        //border-bottom: 1px solid #000;



      }

      &.legend-container {

        padding: 1rem 0 0rem 0;
        //height: 120px;
        border: none;

        @media (max-width : $breakpoint-sm) {
          > svg {
            //transform: translate(-60px, -30px);
            overflow: visible;
          }
        }

        @media (min-width : $breakpoint-md) and (max-width : $extra) {
          > svg {
            //transform: translate(-40px, -30px);
            overflow: visible;
          }
        }

        @media (min-width : $breakpoint-sm) {
          padding: 0;
          height: auto;

        }
        //border-bottom: 1px solid #000;
      }

      &.procedure-container {

        //margin-bottom: 30px;
        width: 100%;

        //@media (max-width : $breakpoint-sm) {
        //
        //  //height: 600px;
        //  //
        //  //> svg {
        //  //  transform: translate(-120px,200px) rotate(90deg);
        //  //}
        //}
      }

      &.progress-container, &.progress-candles-container {

        //@media (max-width : $breakpoint-sm) {
        //  height: 600px;
        //  > svg {
        //    transform: translate(-120px,200px) rotate(90deg);
        //  }
        //}
      }

      &.remitted-container {
        height: auto;
      }

      &.remittances-container {


      }

      &.text-container {

        border: none;

        > div {

          padding: 15px 2rem 30px 15px;

          @media (min-width : $breakpoint-sm) {
            padding: 0px 2rem 30px 60px;
          }

          @media (min-width : $breakpoint-md) and (max-width : $extra) {
            padding: 15px 2rem 30px 15px;
          }
        }
      }
    }


  }
}

