//svg {
//  .serie {
//    rect, path { fill: #ccc; }
//    path {  opacity : .2 }
//  }
//}

svg.zonder.opname {
  .serie.zonder.opname {
    rect, path { fill: $green; }
  }
}

svg.met.opname {
  .serie.met.opname {
    rect, path { fill: orange; }
  }
}

svg.Na {
  .serie.Na {
    rect, path { fill: $blue; }
  }
}

svg.acuut {
  .serie.acuut {
    rect, path { fill: darkblue; }
  }
}

