.stackedGroup.in_behandeling {

    rect.schade-aan-gebouwen {
      fill: $moss;
    }

    rect.waardedaling {
      fill: $lightBlue;
    }
}


.stackedGroup.afgehandeld {

  rect.schade-aan-gebouwen {
    fill: $moss-light;
  }

  rect.waardedaling {
    fill: $lightBlue-light;
  }

  .barLabel {
    display: none;
  }
}
