.selector {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  margin: 0px;
  width: 100%;

  @media (min-width: $breakpoint-xxsm) {
    margin: 1rem 0 0 40px;
    width: calc(100% - 40px - 15px);
  }


  @media (min-width: $breakpoint-sm) {
    flex-direction: row;

  }


  &.left_bottom {

    position: absolute;
    left: 0rem;
    bottom: 2rem;
  }

  > div {
    width: auto;
  }

  .nature {

    display: flex;
    flex-direction: row;

    @media (min-width: $breakpoint-sm) {
      flex-direction: column;
      margin-left: 40px;
    }
  }


  .properties {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    &:not(.left-aligned) {

      @media (min-width: $breakpoint-sm) {
        justify-content: flex-end;
      }

      li {

        @media (min-width: $breakpoint-sm) {
          margin-bottom: 0rem;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}